.card-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: transform 0.9s ease, box-shadow 0.3s ease;
}

.card-home:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(177, 168, 168, 0.15);
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.bg-fisica {
  background: linear-gradient(135deg, #00438a, #1b263b);
}

.bg-mental {
  background: linear-gradient(135deg, #8f52ff, #4c1d95);
}

.bg-avaliacao {
  background: linear-gradient(135deg, #00891b, #00695c);
}


