.cards-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.card-home {
  flex: 1;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2rem;
  text-align: center;
}

.card-home:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(177, 168, 168, 0.15);
}

.card-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.bg-fisica {
  background: linear-gradient(135deg, #00438a, #1b263b);
}

.bg-mental {
  background: linear-gradient(135deg, #8f52ff, #4c1d95);
}

.bg-avaliacao {
  background: linear-gradient(135deg, #00891b, #00695c);
}
