.nivel-sono-container {
  text-align: center;
  margin-top: 40px;
}

.abrir-modal-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px 30px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

#botao_sono {
    background: linear-gradient(45deg, #a259ff, #6a0dad);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

#botao_sono:hover {
   background: linear-gradient(135deg, #5e35b1, #8a5bf0);
  transform: translateY(-2px);
}
